Repository open-life-science/open-life-science.github.io, pull requests merged in 2024-11, with the labels that each got.

#919 Update links and dates
  nebula/index.md
Labels: 🚀 Nebula

#907 Add OLS-9 participants to the website
  _data/openseeds/ols-9-catalyst/metadata.yaml
  _data/openseeds/ols-9-catalyst/projects.yaml
  _data/openseeds/ols-9-dra/metadata.yaml
  _data/openseeds/ols-9-dra/projects.yaml
  _data/people.yaml
Labels: 🚨 merged-but-needs-review

#926 Add NASA certification process
  _config.yml
  _includes/nebula-header.html
  nebula/nebula-cohort-procedures/nasa-certification.md
Labels: documentation, 🚀 Nebula
